/* Navbar Styling */
.navbar {
  background: linear-gradient(135deg, #4c3f67, #2b2d42); /* Deep purple to dark blue gradient */
  color: #030303; /* Black text for better readability */
  padding: 20px 35px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2); /* Light shadow for a lifted effect */
  transition: all 0.3s ease;
  display: flex;
  justify-content: center; /* Center-align the elements */
}

/* Navbar Brand */
.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff; /* White text for better readability */
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-nav {
  margin: 0 auto;
}

/* Hover effects on Navbar Brand */
.navbar-brand:hover {
  color: #23d8f8; /* Light blue on hover for a contrast effect */
  transform: scale(1.05); /* Slight scaling effect for interaction */
}

/* Navbar items (if needed) */
.navbar-nav .nav-item {
  margin: 0 15px;
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  color: #050505; 
  transition: color 0.3s ease;
}

.navbar-nav .nav-item:hover {
  color: #23d8f8; /* Light blue color on hover */
}
